@charset "utf-8";

// Import a Google Font
@import url('https://fonts.googleapis.com/css?family=Nunito|Rubik&display=swap');

// Set your brand colors
$violet: #CC9BB1;
$thistle: #DFB5E0;
$brown: #757763;
$beige-light: #D0D1CD;
$beige-lighter: #f9f9f9;

// Update Bulma's global variables
$family-sans-serif: "Rubik", sans-serif;
$grey-dark: $brown;
$grey-light: $beige-light;
$primary: $violet;
$link: $thistle;

// Update some of Bulma's component variables
$body-background-color: $beige-lighter;
$control-border-width: 2px;
$input-border-color: transparent;
$input-shadow: none;

.navbar-brand{
    .navbar-item{
        img{
            max-height: 3rem!important;
        }
    }
}

@import '../node_modules/bulma/bulma.sass'